.nohCalendar {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 350px;
	border: 1px solid whitesmoke;
}

/* year and month */
.nohCalendar .yearAndMonth {
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	/* background: palegoldenrod; */
}
.nohCalendar .yearAndMonth button {
	width: 50px;
	height: 50px;
	border: none;
	background: none;
	cursor: pointer;
}
.nohCalendar .yearAndMonth button:hover {
	border: 1px solid skyblue;
}
.nohCalendar .yearAndMonth div {
	font-size: 18px;
	font-weight: bold;
}

/* calendar */
.nohCalendar .calendar {
	display: flex;
	width: 100%;
}
.nohCalendar .calendar table {
	display: flex;
	width: 100%;
}

.nohCalendar .calendar tbody {
	display: table-row-group;
	width: 100%;
}

.nohCalendar .calendar tr:first-child {
	height: 30px;
	font-size: 12px;
	align-items: center;
	font-weight: bold;
}
.nohCalendar .calendar tr:first-child td {
	display: flex;
	justify-content: center;
	height: 100%;
}

.nohCalendar .calendar tr {
	display: flex;
	height: 60px;
	justify-content: flex-start;
	/* align-items: center; */
}

.nohCalendar .calendar td {
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	flex-direction: column;
	width: 15%;
	border: 1px solid whitesmoke;
	cursor: pointer;
}

.nohCalendar .calendar td.nonThisMonth {
	opacity: 0.5;
}

.nohCalendar .calendar td.selected {
	background: red;
}

.nohCalendar .calendar td div:first-child {
	text-align: center;
}
.nohCalendar .calendar td div {
	width: 100%;
	/* text-align: left; */
}

.nohCalendar .calendar td.date:hover {
	border: 1px solid cadetblue;
}

.nohCalendar .calendar td .date-red {
	color: red;
}

.nohCalendar .calendar td .label {
	font-size: 8px;
}

/* option */

.nohCalendar .option {
	display: flex;
	height: 50px;
}

.nohCalendar .option button {
	width: 50%;
	background: none;
	border: 1px solid whitesmoke;
	cursor: pointer;
}

.nohCalendar .option button:hover {
	border: 1px solid darkcyan;
}
