#toggleCalendar {
	width: 25px;
	height: 25px;
	margin-bottom: 10px;
	border: solid black 1px;
	background-color: white;
	color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#toggleCalendar:hover {
	cursor: pointer;
	border: 2px;
}

.nohCalendar {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 350px;
	border: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* year and month */
.nohCalendar .yearAndMonth {
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size: 18px;
	font-weight: bold;
}

.nohCalendar .yearAndMonth button {
	width: 50px;
	height: 50px;
	border: none;
	background: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
}

.nohCalendar .yearAndMonth button:hover {
	/* border: 1px solid skyblue; */
	font-size: 30px;
}

.nohCalendar .yearAndMonth div {
}

/* calendar */
.nohCalendar .calendar {
	display: flex;
	width: 100%;
}

.nohCalendar .calendar table {
	display: flex;
	width: 100%;
}

.nohCalendar .calendar tbody {
	display: table-row-group;
	width: 100%;
}

.nohCalendar .calendar tr:first-child {
	height: 30px;
	font-size: 12px;
	align-items: center;
	font-weight: bold;
}
.nohCalendar .calendar tr:first-child td {
	display: flex;
	justify-content: center;
	height: 100%;
}

.nohCalendar .calendar tr {
	display: flex;
	height: 60px;
	justify-content: flex-start;
}

.nohCalendar .calendar td {
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	flex-direction: column;
	width: 15%;
	border: 1px solid whitesmoke;
	cursor: pointer;
}

.nohCalendar .calendar td.nonThisMonth {
	opacity: 0.5;
}

.nohCalendar .calendar td div:first-child {
	text-align: center;
}

.nohCalendar .calendar td div {
	width: 100%;
}

.nohCalendar .calendar td:hover {
	border: 1px solid grey;
}

.nohCalendar .calendar td .label {
	font-size: 8px;
	border: none;
	/* margin: 1px; */
}

.nohCalendar .calendar td.selected {
	background: grey;
	color: white;
	border: none;
}

.nohCalendar .calendar td.start-selected {
	background: black;
	opacity: 1;
}
.nohCalendar .calendar td.end-selected {
	background: black;
	opacity: 1;
}

/* customize */
.nohCalendar .calendar td .holiday {
	color: red;
}

/* .nohCalendar .calendar td .exam {
	background: #ff7979;
	color: white;
}
.nohCalendar .calendar td .wed {
	background: #badc58;
	color: black;
} */
/* option */

.nohCalendar .option {
	display: flex;
	height: 50px;
}

.nohCalendar .option button {
	width: 50%;
	font-size: 18px;
	border: solid 1px whitesmoke;
	cursor: pointer;
	background: white;
}

.nohCalendar .option #returnSelectedDates {
}

.nohCalendar .option #returnSelectedDates:hover {
	border: solid 1px #00c73c;
}
.nohCalendar .option #closeCalendar {
}
.nohCalendar .option #closeCalendar:hover {
	border: solid 1px #ff7979;
}
